Repository LJH-LBJ/llm-service, changes with the labels that .github/labeler.yml gives for each.
All labels: core, api, vllm, workers, protocol, documentation, tests, ci, dependencies, tools, config

fix pre-commit
  llm_service/workers/vllm/disagg_worker.py
Labels: vllm, workers

fix pre-commit
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix pre-commit
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

[Feature] Staged Encoder (E) & PD Timing for zmq scheme (#15)
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/envs.py
  llm_service/protocol/protocol.py
  llm_service/stats_loggers.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

[BugFix]: logger decouple from vllm_logger (#18)
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/logger_utils.py
  llm_service/service_discovery.py
  llm_service/stats_loggers.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

add no-enable-prefix-caching in worker.py
  llm_service/entrypoints/worker.py
Labels: core, workers

add no-enable-prefix-caching in worker.py
  llm_service/entrypoints/worker.py
Labels: core, workers

add no-enable-prefix-caching in worker.py
  llm_service/entrypoints/worker.py
Labels: core, workers

change logger error to warning
  llm_service/entrypoints/worker.py
Labels: core, workers

[Bugfix] fix bug for no no-enable-prefix-caching for Encoder (#20)
  llm_service/entrypoints/worker.py
Labels: core, workers

add graceful exit feature
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers, protocol

fix bug
  llm_service/apis/vllm/proxy.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers, protocol

add logger
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

add logger
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

del instance from healthy check
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/envs.py
  llm_service/service_discovery.py
Labels: core, api, vllm

opt
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

add worker exit from System
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

add worker exit from System
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

fix bug
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix bug
  llm_service/apis/vllm/proxy.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers

fix bug
  llm_service/entrypoints/worker.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, vllm, workers

fix bug
  llm_service/entrypoints/worker.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, vllm, workers

worker don't send reply
  llm_service/apis/vllm/proxy.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers, protocol

[Feature] ZMQ supports using the TCP protocol (#22)
  examples/online_serving/epd/chat_with_image.py
  examples/online_serving/epd/disagg_xeypd_example_tcp.sh
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/envs.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

fix bug
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

fix bug
  llm_service/entrypoints/worker.py
Labels: core, workers

use exit event
  llm_service/entrypoints/worker.py
Labels: core, workers

clean up draining queue
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
Labels: core, api, vllm, workers

fix bug
  llm_service/workers/vllm/disagg_worker.py
Labels: vllm, workers

fix bug
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/protocol/protocol.py
Labels: core, api, vllm, workers, protocol

fix bug
  llm_service/workers/vllm/disagg_worker.py
Labels: vllm, workers

[Feature] Supports multiple proxy (#26)
  examples/online_serving/epd/disagg_xeypd_example_proxy.sh
  examples/online_serving/epd/proxy_chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

fix bug
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix for multi proxy
  examples/online_serving/epd/proxy_chat_with_image.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers

add log
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix pre-commit
  examples/online_serving/epd/chat_with_image.py
  examples/online_serving/epd/proxy_chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/service_discovery.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

fix bug
  llm_service/envs.py
Labels: core

Supporting E-P-D Full disaggregation and Router Policy obtained from the env params (#30)
  examples/online_serving/epd/chat_with_image.py
  examples/online_serving/epd/disagg_xeypzd_example.sh
  llm_service/apis/vllm/proxy.py
  llm_service/envs.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

.github/labeler.yml:

# Labeler configuration
# See: https://github.com/actions/labeler

# Core service files
core:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/*.py'
          - 'llm_service/entrypoints/**'

# API and proxy related
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/apis/**'
          - '**/*proxy*'

# vLLM integration
vllm:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/apis/vllm/**'
          - 'llm_service/workers/vllm/**'
          - '**/*vllm*'

# Worker processes
workers:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/workers/**'
          - 'llm_service/entrypoints/worker.py'

# Protocol related
protocol:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/protocol/**'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.rst'
          - 'docs/**'

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - '**/*test*.py'
          - '**/test_*'

# CI/CD and tooling
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.pre-commit-config.yaml'
          - 'pyproject.toml'
          - 'requirements/**'

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements/**'
          - 'pyproject.toml'
          - 'setup.py'

# Tools and utilities
tools:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

# Configuration
config:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yaml'
          - '**/*.yml'
          - '**/*.toml'
          - '**/*.ini'
          - '**/*.cfg'
