Repository LJH-LBJ/llm-service, changes with the labels that .github/labeler.yml gives for each.
All labels: core, api, vllm, workers, protocol, documentation, tests, ci, dependencies, tools, config

.github/labeler.yml:

# Labeler configuration
# See: https://github.com/actions/labeler

# Core service files
core:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/*.py'
          - 'llm_service/entrypoints/**'

# API and proxy related
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/apis/**'
          - '**/*proxy*'

# vLLM integration
vllm:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/apis/vllm/**'
          - 'llm_service/workers/vllm/**'
          - '**/*vllm*'

# Worker processes
workers:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/workers/**'
          - 'llm_service/entrypoints/worker.py'

# Protocol related
protocol:
  - changed-files:
      - any-glob-to-any-file:
          - 'llm_service/protocol/**'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.rst'
          - 'docs/**'

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - '**/*test*.py'
          - '**/test_*'

# CI/CD and tooling
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.pre-commit-config.yaml'
          - 'pyproject.toml'
          - 'requirements/**'

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements/**'
          - 'pyproject.toml'
          - 'setup.py'

# Tools and utilities
tools:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

# Configuration
config:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yaml'
          - '**/*.yml'
          - '**/*.toml'
          - '**/*.ini'
          - '**/*.cfg'

Add example for python API and some bugfix(#9)
  examples/online_serving/epd/README.md
  examples/online_serving/epd/chat_with_image.py
  examples/online_serving/epd/disagg_xeypd_example.sh
  llm_service/entrypoints/worker.py
  pyproject.toml
Labels: core, workers, documentation, ci, dependencies, config

Add get_metrics
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/protocol/protocol.py
  llm_service/service_discovery.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

opt
  examples/online_serving/epd/chat_with_image.py
Labels: none

opt
  llm_service/apis/vllm/proxy.py
  llm_service/service_discovery.py
Labels: core, api, vllm

opt
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

update Proxy for 0.11.0
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

update Proxy for 0.11.0
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

update Proxy for 0.11.0
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

update worker for 0.11.0
  llm_service/entrypoints/worker.py
Labels: core, workers

opt
  llm_service/workers/vllm/disagg_worker.py
Labels: vllm, workers

opt
  llm_service/apis/vllm/proxy.py
  llm_service/service_discovery.py
Labels: core, api, vllm

opt
  llm_service/service_discovery.py
Labels: core

opt
  llm_service/service_discovery.py
Labels: core

fix pre-commit
  llm_service/apis/vllm/proxy.py
  llm_service/service_discovery.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

opt
  examples/online_serving/epd/chat_with_image.py
Labels: none

fix pre-commit
  examples/online_serving/epd/chat_with_image.py
Labels: none

fix pre-commit
  llm_service/apis/vllm/proxy.py
  llm_service/protocol/protocol.py
Labels: api, vllm, protocol

fix pre-commit
  llm_service/apis/vllm/proxy.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers

fix pre-commit
  llm_service/workers/vllm/disagg_worker.py
Labels: vllm, workers

opt
  examples/online_serving/epd/chat_with_image.py
Labels: none

opt
  llm_service/apis/vllm/proxy.py
  llm_service/metrics_reporter.py
  llm_service/service_discovery.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

opt
  llm_service/apis/vllm/proxy.py
  llm_service/metrics_reporter.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

opt
  llm_service/metrics_reporter.py
Labels: core

fix pre-commit
  llm_service/apis/vllm/proxy.py
  llm_service/metrics_reporter.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

opt
  llm_service/metrics_reporter.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, vllm, workers, protocol

opt
  llm_service/metrics_reporter.py
Labels: core

opt
  llm_service/apis/vllm/proxy.py
  llm_service/metrics_reporter.py
Labels: core, api, vllm

fix bug
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix pre-commit
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix for comment
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/metrics_reporter.py
  llm_service/protocol/protocol.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers, protocol

fix for comment
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/envs.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, api, vllm, workers

fix for comment
  llm_service/entrypoints/worker.py
  llm_service/metrics_reporter.py
  llm_service/stats_loggers.py
Labels: core, workers

fix for comment
  examples/online_serving/epd/chat_with_image.py
  llm_service/apis/vllm/proxy.py
  llm_service/entrypoints/worker.py
  llm_service/envs.py
  llm_service/stats_loggers.py
Labels: core, api, vllm, workers

fix for comment
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix proxy_to_worker
  llm_service/apis/vllm/proxy.py
Labels: api, vllm

fix proxy_to_worker
  llm_service/apis/vllm/proxy.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers

fix proxy_to_worker
  llm_service/apis/vllm/proxy.py
  llm_service/envs.py
Labels: core, api, vllm

fix proxy_to_worker
  llm_service/apis/vllm/proxy.py
  llm_service/workers/vllm/disagg_worker.py
Labels: api, vllm, workers

add snapshot for DisaggWorkerStatsLogger
  llm_service/stats_loggers.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, vllm, workers

fix pre-commit
  llm_service/stats_loggers.py
  llm_service/workers/vllm/disagg_worker.py
Labels: core, vllm, workers
